<!-- Navigation Bar -->
<nav class="navigation">
  <div class="logo-bar">
    <img src="/images/logo1.png" class="logo-img" />
    <h1>SparxScrew</h1>
  </div>
  <ul class="sub-nav">
    <li>
      <a href="#"><i class="bx bxs-bell"></i></a>
    </li>
    <li>
      <a href="#"><i class="bx bxs-envelope"></i></a>
    </li>
    <li>
      <a href="#"><i class="bx bxs-chat"></i></a>
    </li>
  </ul>
</nav>
